html,
body {
  font-size: 18px;
  margin: 0;
  font-family: 'Crimson Pro', serif;
  color: #2C5162;
}

.jumbotron-fluid {
  background-color: #9d3128;
  padding: 17px 17px 0 17px;
  margin: 0;
}

.container-fluid {
  background-color: #F4EFE8;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: #4b69a2;
}

a:hover {
  color: #4b69a2;
}

html {
  scroll-behavior: smooth;
}

footer, footer .container-fluid {
  padding: 2rem 0 3rem 0;
  background-color: #9d3128 !important;
  border-top: 1px solid white;
}

hr {
  border-top: 1px solid #9d3128;
  margin: 2rem 0;
}

.whiteback {
  background-color: white;
}

/*
.loader {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}*/

/* Mobile query */
@media only screen and (min-width: 320px) {
  .titolo {
    font-size: 1rem;
    color: white;
    margin-left: 2rem;
    margin-bottom: 0;
    margin-top: 1rem;
  }

  /*  #eadaca besciolino #9d3128 rosso */
  .navigazione {
    height: 60px;
    width: 100%;
    background-color: #9d3128;
    position: fixed;
    align-items: center;
    z-index: 10;
  }

  .group {
    display: none;
  }

  .intestazione {
    margin: 2rem 0 0 1.5rem;
  }

  .titoloint {
    font-size: 2rem;
    font-weight: 900;
    line-height: 5rem;
    margin: 0 4rem 4rem 0;
    color: #9d3128;
  }

  .nomi {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    margin: 0 0 8rem 0;
  }

  .brief {
    margin: 3rem 2rem 0 2rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 3.7rem;
  }

  h2 {
    font-size: 1rem;
    font-weight: 900;
    padding: 0 0 3rem 0;
    margin: 4rem 2rem 0 2rem;
  }

  .legend {
    padding: 0 0 3rem 0;
  }

  .sectiontext {
    padding: 0 2rem 3rem 2rem;
    font-size: 2rem;
    line-height: 3rem;
  }

  .datatitle, .datasrc, .datadownload {
    margin: 0 2rem;
    font-size: 2rem;
  }

  .datatitle {
    font-weight: 900;
  }

  .loghi {
    display: inline-flex;
    align-items: flex-start;
    margin: 0 2rem;
    justify-content: center;
  }

  .loghi .density {
    width: 23%;
    padding: 0 2rem 3rem 0;
  }

  .loghi .poli {
    width: 75%;
  }

  .text-left {
    margin: 0;
    padding: 0 3rem 0 3rem;
    font-size: 2rem;
    color: white;
  }

  .fa-arrow-alt-circle-up {
    padding: 2rem 0 0 1rem;
    font-size: 5rem;
    color: white;
  }
}

/* Desktop query */
@media only screen and (min-width: 992px) {
  .titolo {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
    padding: 0 0 0 0.3rem;
  }

  .navigazione {
    height: 60px;
    width: 100%;
    border-bottom: 1PX solid white;
    background-color: #9d3128;
    align-items: center;
    position: fixed;
    z-index: 10;
    color: white;
  }

  .group {
    display: flex;
    float: right;
    margin: 0;
    padding: 0 0.3rem 0 0;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .legend {
    padding-bottom: 3rem;
  }

  .intestazione {
    margin: 6rem 0 4rem 0;
  }

  .titoloint {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 2.8rem;
    margin: 0 3rem 0 0;
    color: white;
  }

  .nomi {
    font-size: 1.2rem;
    font-weight: 100;
    line-height: 1.4rem;
    margin: 0;
    color: white;
  }

  .brief {
    margin: 3rem 0 0 0;
    font-size: 1.3rem;
    line-height: 1.6rem;
    font-weight: 300;
  }

  .caption {
    padding: 0 0 0 0.3rem;
    font-size: 1rem;
    font-style: italic;
  }

  h2 {
    font-size: 1.6rem;
    padding: 0 0 3rem 0;
    margin: 0;
    font-weight: 550;
  }

h3 {
  font-size: 1.2rem;
  font-weight: 550;
}
  .sectiontext {
    padding: 0 0 3rem 0;
    font-size: 1rem;
    line-height: 1.4rem;
    margin: 0;
  }

  .lastcapt {
    padding: 0 0 4rem 0;
  }

  .datatitle, .datasrc, .datadownload {
    margin: 0 0 0 0;
    font-size: 1rem;
  }

  .datatitle {
    font-weight: 900;
  }

  .datasrc,
  .datadownload {
    font-weight: 200;
  }

  .datarow {
    border-top: 1px solid #9d3128;
    padding: 2rem 0 0 0;
  }

  .loghi {
    display: inline-flex;
    align-items: flex-start;
  }

  .loghi .density {
    width: 25%;
    padding: 0 1rem 0 0;
  }

  .loghi .poli {
    width: 90%;
  }

  .foot {
    display: inline-flex;
  }

  .text-left {
    padding: 0 0 0 2rem;
    margin: 0;
    font-size: 0.8rem;
    color: white;
  }

  .fa-arrow-alt-circle-up {
    font-size: 2rem;
    color: white;
    padding: 0;
  }
}
